[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog
[submodule "themes/themes/hugo-bearblog"]
	path = themes/themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
